FoodClassification/AndroidAPP/**/*.iml
FoodClassification/AndroidAPP/.gradle
FoodClassification/AndroidAPP/local.properties
FoodClassification/AndroidAPP/.idea/*
FoodClassification/AndroidAPP/.DS_Store
FoodClassification/AndroidAPP/build/*
FoodClassification/AndroidAPP/captures
FoodClassification/AndroidAPP/.externalNativeBuild
